__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
venv
env
ENV
node_modules
*.log
static/generated/*
static/reels/*
static/thumbnails/*
static/uploads/*
!static/generated/.gitkeep
!static/reels/.gitkeep
!static/thumbnails/.gitkeep
!static/uploads/.gitkeep
